.players-wrapper {
  max-width: 400px;
  width: 100%;
}

.player-name {
  margin: 8px 0;
  white-space: nowrap;
}

.settings-wrapper {
  margin-bottom: 16px;
  max-width: 400px;
  width: 100%;
}

.mat-checkbox-layout,
.mat-checkbox-label {
  width: 100%;
}
