/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~@angular/material/theming';
@import '~@angular/cdk/text-field';
// Plus imports for other components in your app.
@import './theme/app-theme.scss';
@import './theme/typography.scss';
@import './theme/colors.scss';

@include mat-core();
// @include angular-material-theme($app-main-theme-dark);
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@include angular-material-typography($app-main-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, Roboto, 'Helvetica Neue', sans-serif;
}

input {
  @include cdk-text-field-autofill-color(transparent, #fff);
}

.bg {
  overflow: scroll;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #303030;
  color: #fff;
}

.scrollable {
  overflow: scroll;
}

button.mat-green {
  background-color: map-get($map: $green-700, $key: medium-dark);
}

/* Fix Chrome autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #303030 inset !important;
  -webkit-box-shadow: 0 0 0 30px #303030 inset !important;
  -webkit-text-fill-color: white !important;
}
