.label {
  color: #aeaeae;
  width: 120px;
}

.attr {
  font-weight: 500;
}

.setting {
  margin-bottom: 8px;
}

.mat-icon-button,
.mat-icon-wrapper {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

mat-icon {
  font-size: 18px;
  line-height: 20px !important;
}
